In [1]:
import csv
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns

%matplotlib inline

In [2]:
# Read Trump Tweet file as csv
tweets = pd.read_csv('../datasets/unseen/tweets_unseen_data.csv')
tweets

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for iPhone,Today is National #MedalofHonorDay. Join me in...,03-25-2020 15:45:36,18761,74468,False,1242840063303659527
1,Twitter for iPhone,Congratulations to Prime Minister Abe of Japan...,03-25-2020 14:54:47,26609,176907,False,1242827275080531969
2,Twitter for iPhone,The four hospitals that we (FEMA) are building...,03-25-2020 14:49:56,19603,100006,False,1242826052310794240
3,Twitter for iPhone,Just reported that the United States has done ...,03-25-2020 14:44:17,35386,195728,False,1242824631230308353
4,Twitter for iPhone,The Democrat’s Best &amp; Finest! https://t.co...,03-25-2020 12:14:57,30495,110045,False,1242787050337832961
5,Twitter for iPhone,Gee that’s too bad. Such a fine guy. President...,03-25-2020 11:47:26,19846,88237,False,1242780126674333697
6,Twitter for iPhone,This is really great news! I am so happy I can...,03-25-2020 11:36:48,29805,158311,False,1242777450662244352
7,Twitter for iPhone,I am working very hard to help New York City &...,03-25-2020 10:40:52,32226,162796,False,1242763375924391936
8,Twitter for iPhone,“President Trump’s decision to very early on r...,03-25-2020 10:14:23,20642,108681,False,1242756708902076417
9,Twitter Media Studio,TOGETHER WE WILL PREVAIL! https://t.co/uQBlz594dR,03-24-2020 22:32:48,33393,129877,False,1242580148702130176
10,Twitter for iPhone,https://t.co/ytgBP3hJv1,03-24-2020 19:50:00,23047,89196,False,1242539178786725891
11,Twitter for iPhone,https://t.co/mDc66ML7rF,03-24-2020 19:31:27,15958,59004,False,1242534510320922628
12,Twitter for iPhone,Price transparency is so important for the peo...,03-24-2020 19:08:11,20767,103919,False,1242528658767654912
13,Twitter for iPhone,Will be doing a Town Hall on @FoxNews at 12:05...,03-24-2020 16:04:37,14516,77484,False,1242482460140736512

In [3]:
# nltk
import nltk
from nltk.corpus import stopwords
from  nltk.stem import SnowballStemmer
import regex as re

In [4]:
stop_words = stopwords.words("english")
stemmer = SnowballStemmer("english")

In [5]:
# Text cleaning
text_cleaning_re = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"

def preprocess(text, stem=False):
    # Remove http link, user, special characters, punctuations, numbers,
    # Convert text to lowercase  
    # Remove stop words
    text = re.sub(text_cleaning_re, ' ', str(text).lower()).strip()
    tokens = []
    for token in text.split():
        if token not in stop_words:
            if stem:
                tokens.append(stemmer.stem(token))
            else:
                tokens.append(token)
    return " ".join(tokens)

In [6]:
%%time
tweets['text'] = tweets['text'].apply(lambda x: preprocess(x))

CPU times: user 5.51 ms, sys: 2.25 ms, total: 7.77 ms
Wall time: 6.31 ms

In [7]:
# Drop irrelevant columns
tweets.drop(columns = ['source','is_retweet','id_str'], axis=1, inplace = True)

In [8]:
tweets

,text,created_at,retweet_count,favorite_count
0,today national medalofhonorday join momentofho...,03-25-2020 15:45:36,18761,74468
1,congratulations prime minister abe japan ioc w...,03-25-2020 14:54:47,26609,176907
2,four hospitals fema building nyc javits conven...,03-25-2020 14:49:56,19603,100006
3,reported united states done far testing nation...,03-25-2020 14:44:17,35386,195728
4,democrat best amp finest,03-25-2020 12:14:57,30495,110045
5,gee bad fine guy presidential aspirations know,03-25-2020 11:47:26,19846,88237
6,really great news happy barely speak may terri...,03-25-2020 11:36:48,29805,158311
7,working hard help new york city amp state deal...,03-25-2020 10:40:52,32226,162796
8,president trump decision early restrict travel...,03-25-2020 10:14:23,20642,108681
9,together prevail,03-24-2020 22:32:48,33393,129877
10,,03-24-2020 19:50:00,23047,89196
11,,03-24-2020 19:31:27,15958,59004
12,price transparency important people country ma...,03-24-2020 19:08:11,20767,103919
13,town hall foxnews 12 05 p go around 1 00 p enjoy,03-24-2020 16:04:37,14516,77484

In [9]:
#!pip install arrow
import arrow

In [10]:
# Stub for helpers
# convert utc to est
def convertUTCtoFull(date):
    utc = arrow.get(date)
    return utc.to('US/Eastern').format('dddd, MMM D, YYYY h:mm A')

# convert to year
def convertUTCtoYear(date):
    utc = arrow.get(date)
    return utc.to('US/Eastern').format('YYYY')

# convert to month
def convertUTCtoMonth(date):
    utc = arrow.get(date)
    return utc.to('US/Eastern').format('MM')

# convert to day
def convertUTCtoDay(date):
    utc = arrow.get(date)
    return utc.to('US/Eastern').format('D')

# convert to month/day
def convertUTCtoMonthDay(date):
    utc = arrow.get(date)
    return utc.to('US/Eastern').format('YYYY-MM-DD')

# convert to day of week
def convertUTCtoDayOfWeek(date):
    utc = arrow.get(date)
    return utc.to('US/Eastern').format('d')

# convert to time
def convertUTCtoHourOfDay(date):
    utc = arrow.get(date)
    return int(utc.to('US/Eastern').format('HH'))

# convert to week of year
def convertUTCtoWeekNumber(date):
    return int(date.strftime('%U'))

# Strip HTML
def stripHTML(html):
    tree = ET.fromstring(html)
    return ET.tostring(tree, encoding='utf8', method='text')

# Encode with closest thing to character
def encodeText(line):
    line = unicodedata.normalize('NFKD', line).encode('ascii','ignore')
    return line

In [11]:
tweets = pd.DataFrame(tweets)
tweets['created_date'] = pd.to_datetime(tweets['created_at'])
tweets['created_date']

0    2020-03-25 15:45:36
1    2020-03-25 14:54:47
2    2020-03-25 14:49:56
3    2020-03-25 14:44:17
4    2020-03-25 12:14:57
5    2020-03-25 11:47:26
6    2020-03-25 11:36:48
7    2020-03-25 10:40:52
8    2020-03-25 10:14:23
9    2020-03-24 22:32:48
10   2020-03-24 19:50:00
11   2020-03-24 19:31:27
12   2020-03-24 19:08:11
13   2020-03-24 16:04:37
Name: created_date, dtype: datetime64[ns]

In [12]:
tweets['human_date'] = tweets['created_date'].apply(convertUTCtoFull)
tweets['year'] = tweets['created_date'].apply(convertUTCtoYear)
tweets['month/day'] = tweets['created_date'].apply(convertUTCtoMonthDay)
tweets['month'] = tweets['created_date'].apply(convertUTCtoMonth)
tweets['day'] = tweets['created_date'].apply(convertUTCtoDay)
tweets['day of week'] = tweets['created_date'].apply(convertUTCtoDayOfWeek)
tweets['hour'] = tweets['created_date'].apply(convertUTCtoHourOfDay)
tweets['week'] = tweets['created_date'].apply(convertUTCtoWeekNumber) 
tweets.set_index('month/day', inplace=True)

In [13]:
tweets.head()

,text,created_at,retweet_count,favorite_count,created_date,human_date,year,month,day,day of week,hour,week
month/day,,,,,,,,,,,,
2020-03-25,today national medalofhonorday join momentofho...,03-25-2020 15:45:36,18761,74468,2020-03-25 15:45:36,"Wednesday, Mar 25, 2020 11:45 AM",2020,03,25,3,11,12
2020-03-25,congratulations prime minister abe japan ioc w...,03-25-2020 14:54:47,26609,176907,2020-03-25 14:54:47,"Wednesday, Mar 25, 2020 10:54 AM",2020,03,25,3,10,12
2020-03-25,four hospitals fema building nyc javits conven...,03-25-2020 14:49:56,19603,100006,2020-03-25 14:49:56,"Wednesday, Mar 25, 2020 10:49 AM",2020,03,25,3,10,12
2020-03-25,reported united states done far testing nation...,03-25-2020 14:44:17,35386,195728,2020-03-25 14:44:17,"Wednesday, Mar 25, 2020 10:44 AM",2020,03,25,3,10,12
2020-03-25,democrat best amp finest,03-25-2020 12:14:57,30495,110045,2020-03-25 12:14:57,"Wednesday, Mar 25, 2020 8:14 AM",2020,03,25,3,8,12

In [14]:
# Drop irrelevant columns
tweets.drop(columns = ['created_at','created_date', 'human_date', 'year','month',
       'day', 'day of week', 'hour', 'week'], axis=1, inplace = True)

In [15]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

def vader_sentiment(text):
    """ Calculate and return the nltk vader (lexicon method) sentiment """
    return sid.polarity_scores(text)['compound']

# create new column for vader compound sentiment score
tweets['vader compound'] = tweets['text'].apply(vader_sentiment)

def categorise_sentiment(sentiment, neg_threshold=-0.005, pos_threshold=0.005):
    """ categorise the sentiment value as positive (1), negative (-1) 
        or neutral (0) based on given thresholds """
    if sentiment < neg_threshold:
        label = 'negative'
    elif sentiment > pos_threshold:
        label = 'positive'
    else:
        label = 'neutral'
    return label

In [16]:
# new col with vader sentiment label based on vader compound score
tweets['vader sentiment'] = tweets['vader compound'].apply(categorise_sentiment)

In [17]:
tweets.head()

,text,retweet_count,favorite_count,vader compound,vader sentiment
month/day,,,,,
2020-03-25,today national medalofhonorday join momentofho...,18761,74468,0.7717,positive
2020-03-25,congratulations prime minister abe japan ioc w...,26609,176907,0.9413,positive
2020-03-25,four hospitals fema building nyc javits conven...,19603,100006,0.6124,positive
2020-03-25,reported united states done far testing nation...,35386,195728,0.9260,positive
2020-03-25,democrat best amp finest,30495,110045,0.6369,positive

In [18]:
# Drop irrelevant columns
tweets.drop(columns = ['text','vader sentiment'], axis=1, inplace = True)
tweets

            retweet_count  favorite_count  vader compound
month/day
2020-03-25          18761           74468          0.7717
2020-03-25          26609          176907          0.9413
2020-03-25          19603          100006          0.6124
2020-03-25          35386          195728          0.9260
2020-03-25          30495          110045          0.6369
2020-03-25          19846           88237         -0.4019
2020-03-25          29805          158311          0.7114
2020-03-25          32226          162796          0.5267
2020-03-25          20642          108681          0.0516
2020-03-24          33393          129877          0.0000
2020-03-24          23047           89196          0.0000
2020-03-24          15958           59004          0.0000
2020-03-24          20767          103919          0.9042
2020-03-24          14516           77484          0.4939

In [19]:
tweets.to_csv('../datasets/unseen/tweets_unseen_data_part1.csv', sep='\t')

In [20]:
tweets_df = pd.read_csv('../datasets/unseen/tweets_unseen_data_part1.csv', sep='\t', parse_dates=['month/day'], index_col=['month/day'])

In [21]:
tweets_sum_df = tweets_df.resample('D').sum()
tweets_sum_df

            retweet_count  favorite_count  vader compound
month/day
2020-03-24         107681          459480          1.3981
2020-03-25         233373         1175179          4.7761

In [22]:
tweets_sum_df.to_csv('../datasets/unseen/tweets_unseen_data_part2.csv', sep='\t')

In [23]:
tweets = pd.read_csv('../datasets/unseen/tweets_unseen_data_part2.csv', sep='\t')
tweets

    month/day  retweet_count  favorite_count  vader compound
0  2020-03-24         107681          459480          1.3981
1  2020-03-25         233373         1175179          4.7761

In [24]:
#Renaming the respective columns
tweets.rename(columns={tweets.columns[0]:'Date'}, inplace=True)
tweets

         Date  retweet_count  favorite_count  vader compound
0  2020-03-24         107681          459480          1.3981
1  2020-03-25         233373         1175179          4.7761

In [25]:
# STOCK SCRAPING PROGRAM #

import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web

style.use('ggplot')

In [26]:
#FOR S&P 500 (^GSPC)
start = dt.datetime(2020, 3, 25)
end = dt.datetime(2020, 3, 25)

df = web.DataReader('^GSPC', 'yahoo', start, end)
print(df.head(5))
print(df.tail(5))

df.to_csv('../datasets/unseen/SP500_unseen_data.csv')

                   High          Low         Open        Close      Volume  \
Date
2020-03-24  2449.709961  2344.439941  2344.439941  2447.330078  7547350000
2020-03-25  2571.419922  2407.530029  2457.770020  2475.560059  8285670000

              Adj Close
Date
2020-03-24  2447.330078
2020-03-25  2475.560059
                   High          Low         Open        Close      Volume  \
Date
2020-03-24  2449.709961  2344.439941  2344.439941  2447.330078  7547350000
2020-03-25  2571.419922  2407.530029  2457.770020  2475.560059  8285670000

              Adj Close
Date
2020-03-24  2447.330078
2020-03-25  2475.560059

In [27]:
# Read S&P500 file as csv
trade = pd.read_csv('../datasets/unseen/SP500_unseen_data.csv')

In [28]:
trade.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2020-03-24,2449.709961,2344.439941,2344.439941,2447.330078,7547350000,2447.330078
1,2020-03-25,2571.419922,2407.530029,2457.770020,2475.560059,8285670000,2475.560059

In [29]:
# Calculate Return: Use pct_change() function to add the one day returns to the dataframe 
trade_pctchange_close = trade.Close.pct_change() # i.e. (Close[Day] - Close[Day-1])/Close[Day-1])
trade['Return'] = trade_pctchange_close

# Calculate Intraday Return 
trade_intraday_return  = ((trade['Close'].sub(trade['Open']).div(trade['Open']))).fillna(0)
trade['Intraday Return'] = trade_intraday_return # i.e. (Open[Day] - Close[Day]) * 100

# Calculate Volume Return: Use pct_change() function to add the one day returns to the dataframe 
trade_pctchange_vol = trade.Volume.pct_change() # i.e. (Close[Day] - Close[Day-1])/Close[Day-1])
trade['Volume Return'] = trade_pctchange_vol

# Calculate Open-Close Movement 
trade_oc_move = ((trade['Open'].sub(trade['Close'].shift()).div(trade['Close'].shift()))*100).fillna(0)
trade['Open-Close Movement'] = trade_oc_move # i.e. (Open[Day] - Close[Day-1]) * 100

# Calculate High-Low Ratio
trade_hl_ratio = ((trade['High'].sub(trade['Low']).div(trade['Low']))*100).fillna(0)
trade['High-Low Ratio'] = trade_hl_ratio # i.e. (High[Day] - Low[Day]) * 100

trade.head()

,Date,High,Low,Open,Close,Volume,Adj Close,Return,Intraday Return,Volume Return,Open-Close Movement,High-Low Ratio
0,2020-03-24,2449.709961,2344.439941,2344.439941,2447.330078,7547350000,2447.330078,NaN,0.043887,NaN,0.000000,4.490199
1,2020-03-25,2571.419922,2407.530029,2457.770020,2475.560059,8285670000,2475.560059,0.011535,0.007238,0.097825,0.426585,6.807387

In [30]:
combined_unseen = pd.merge(trade, tweets, on='Date')
combined_unseen

,Date,High,Low,Open,Close,Volume,Adj Close,Return,Intraday Return,Volume Return,Open-Close Movement,High-Low Ratio,retweet_count,favorite_count,vader compound
0,2020-03-24,2449.709961,2344.439941,2344.439941,2447.330078,7547350000,2447.330078,NaN,0.043887,NaN,0.000000,4.490199,107681,459480,1.3981
1,2020-03-25,2571.419922,2407.530029,2457.770020,2475.560059,8285670000,2475.560059,0.011535,0.007238,0.097825,0.426585,6.807387,233373,1175179,4.7761

In [31]:
combined_unseen ['Trump Twitter Index'] = ((combined_unseen ['Return']*100)*(combined_unseen ['vader compound']).fillna(0))
combined_unseen

,Date,High,Low,Open,Close,Volume,Adj Close,Return,Intraday Return,Volume Return,Open-Close Movement,High-Low Ratio,retweet_count,favorite_count,vader compound,Trump Twitter Index
0,2020-03-24,2449.709961,2344.439941,2344.439941,2447.330078,7547350000,2447.330078,NaN,0.043887,NaN,0.000000,4.490199,107681,459480,1.3981,NaN
1,2020-03-25,2571.419922,2407.530029,2457.770020,2475.560059,8285670000,2475.560059,0.011535,0.007238,0.097825,0.426585,6.807387,233373,1175179,4.7761,5.509237

In [32]:
combined_unseen['Volume_TTI'] = ((combined_unseen['Volume'])*(combined_unseen['vader compound']).fillna(0))

In [33]:
# Drop irrelevant columns
combined_unseen.drop(columns = ['High','Low','Open','Close','Volume','Adj Close'], axis=1, inplace = True)
combined_unseen

,Date,Return,Intraday Return,Volume Return,Open-Close Movement,High-Low Ratio,retweet_count,favorite_count,vader compound,Trump Twitter Index,Volume_TTI
0,2020-03-24,NaN,0.043887,NaN,0.000000,4.490199,107681,459480,1.3981,NaN,1.055195e+10
1,2020-03-25,0.011535,0.007238,0.097825,0.426585,6.807387,233373,1175179,4.7761,5.509237,3.957319e+10

In [34]:
combined_unseen = combined_unseen.dropna()

In [35]:
combined_unseen.to_csv('../datasets/unseen/combined_unseen.csv')